@use "../base/variables" as *;
@use "../base/mixins" as *;

/*----------------------------------*/



// FORMULARIO
.form-container {
  background-color: $color-header;
  border-radius: 10px;
  padding: 40px 180px;
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include respond-to($bp-laptop) {
    padding: 30px 100px;
  }

  @include respond-to($bp-tablet) {
    padding: 30px 50px;
  }

  @include respond-to($bp-phone) {
    padding: 20px;
    margin: 20px 10px;
  }

  @include respond-to($bp-phone-xs) {
    padding: 15px;
  }
}

.form-container h1 {
  font-family: "Ballet", cursive;
  font-weight: 100;
  font-size: 9vw;
  text-align: center;
  color: $color-texto;
  line-height: 1.1;
  width: 100%;
  margin: 0 0 10px 0;

  @include respond-to($bp-phone) {
    font-size: 3.5rem;
  }

  @include respond-to($bp-phone-xs) {
    font-size: 3rem;
  }
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: $color-texto;
  margin-bottom: 30px;

  @include respond-to($bp-phone) {
    font-size: 2rem;
  }
}

.form-group {
  width: 100%;
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  color: $color-texto;
  font-family: "Montserrat", sans-serif;
}

textarea,
input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid $color-texto;
  border-radius: 5px;
  background-color: $color-fondo;
  color: $color-texto;
  font-family: "Montserrat", sans-serif;

  @include respond-to($bp-phone-xs) {
    font-size: 0.9rem;
  }
}

//              BOTÓN         
.form-group-button {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

button {
  padding: 10px;
  background-color: $color-texto;
  color: $color-fondo;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  width: 200px;
  max-width: 100%;
  transition: all 0.3s ease;

  @include respond-to($bp-tablet) {
    width: 50%;
  }

  @include respond-to($bp-phone) {
    width: 100%;
  }
}

button:hover {
  background-color: $color-header;
  color: $color-texto;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

button.enviar {
  margin: 0 auto;
}
