@use "../base/variables" as *;
@use "../base/mixins" as *;

/*--------------------------*/

.tittle{
  text-align: start;  
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 7vw;
  color: #555;
  z-index: 90;
  text-shadow: 0 0 5px #a5a5a5, 0 0 10px #a5a5a5, 0 0 20px #a4a4a4;

  @include respond-to($bp-phone) {
    text-align: center;
  }
}

.sobre-mi-parrafo {
  color: $parrafo;
  font-size: 1.2rem;
  text-align: justify;

  @include respond-to($bp-phone-lg) {
    font-size: 1rem;
    padding: 0 1rem;
  }
}

.soy {
  font-size: 1.5vw;
  font-weight: 600;

  @include respond-to($bp-laptop) {
    font-size: 1.2rem;
  }

  @include respond-to($bp-phone) {
    font-size: 1rem;
    text-align: center;
  }
}
